.cardList .ant-card-cover {
    width: 150px;
    height: 125px;
    margin: 0 auto;
}

.userInfo {
    display: grid;
    font-size: 14px;

}
.ant-modal-body {
    padding: 37px!important;
}

.ant-modal-header{
    background-color: #1e91fc!important;
}
.ant-modal-title{
    color: white!important;
    font-weight: bold!important;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.ant-card-bordered{
    border: 3px solid #f0f0f0!important;
}

.paginationCustom{
    display: flex;
}